.Hackathon{
    margin:10px;
    padding:10px;
    border:1pm solid rgb(158, 62, 62);
    background-color:rgb(39, 160, 59);
}

.Hackathon span{
    font-size:1.3em;
    text-decoration:non;
    color:rgb(20, 13, 85);
}
