.detailsList{  
  width: 70%;
  margin-left: 20rem !important;
}

.inline-block {
  display: inline-block;
}

.textAlign {  
  text-align:  center;
}

.hackDetailsPadding {  
  padding: 1rem !important;
  padding-top:  0.5rem !important;
}

.summaryFont {
  font-weight : bold;
  font-size: 10pt;
  font-family:arial;
}

.summaryBlock {
  display: block;
  box-shadow: 1px 1px 1px 1px grey;
  padding: 1rem;
  margin-top: 1rem;
}

.graphContainer {  
  margin-top: 4rem;
  border-top: 2px solid darkgrey; 
  padding-top: 1rem;
}

.filter {  
  font-size: 13pt;
  font-family:  arial;
  font-weight: bold;
}

.regBlock {  
  width: 65%;
  background: #d3d3d345;
  margin-left: 9rem;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px grey;
}