body{
  background: #f6f6f6;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.eventsblog{
    background: #f3f3f3;
    font-family: monospace;
    padding: 20px;
}

.eventsblog div{
   line-height: 1.8
}

.eventsblog h3{
   margin-bottom: 5px
}

.eventsblog ul{
   margin:0;
}